altgraph==0.17.4
brotlicffi==1.2.0.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.11
macholib==1.16.3
packaging==25.0
pillow==12.0.0
pip==25.3
pycparser==2.23
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PySocks==1.7.1
requests==2.32.5
setuptools==69.5.1
urllib3==2.6.3
wheel==0.45.1
